<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/icons/logo.png')}}">
        
        <link rel="stylesheet" href="{{ asset('styles/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <script src="{{ asset('scripts/bootstrap.bundle.js') }}" defer></script>
        <script src="{{ asset('scripts/sidenav.js') }}" defer></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "_partials/_sidenav.html.twig" %}
        
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
